/* NAVIGATION BAR */
header {
  padding: 3vw 3vw 0vw 3vw;
}
nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.1vw;
}

.logo-img {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 1vw;
  padding-right: 3vw;
}

.logo-img img {
  width: 5vw;
}
