/* top profile */
.top-profile {
  height: 50vw;
  margin-top: 13.75vw;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.top-profile .profile-img {
  width: 50%;
  height: 100%;
  background-color: var(--other-bg-txt);
}

/* INTRODUCTION */
.intro {
  margin-top: 3vw;
  text-align: center;
  width: 100%;
  font-size: 2vw;
}

.intro .sec-line {
  margin-top: 3vw;
}
