/* FOOTER */
footer {
  margin-top: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  height: 5vw;
  width: 100%;
  background-color: var(--other-bg-txt);
}

footer img {
  height: 1.8vw;
  width: 1.8vw;
}

footer .mail {
  height: 1.5vw;
  width: 1.8vw;
}
